###> app/bundle ###
auth.json
google_apis_credentials.json
/public/assets
/public/images/projects/*
!/public/images/projects/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/src/.preload.php
.php_cs.cache
.php-cs-fixer.cache
/var/*.db
/var/cache/*
!/var/cache/.gitkeep
/var/database/*
!/var/database/.gitkeep
/var/csv/*
!/var/csv/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep
/var/uploads/*
!/var/uploads/.gitkeep
/var/testing-database.db
/var/tailwind/*
!/var/tailwind/.gitkeep
/briefing
.env
.env.test
.idea
.DS_Store
###< app/bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> liip/imagine-bundle ###
/public/media/cache/
!/public/media/cache/.gitkeep
###< liip/imagine-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
