<div class="flex items-center space-x-6">
    <a href="{{ path('app_project_illustrations_index') }}" class="hover:underline">Illustration</a>
    <a href="{{ path('app_project_workshops_index') }}" class="hover:underline">Workshops</a>
    <a href="#" class="hover:underline">About</a>
    <a href="#" class="hover:underline">Contact</a>
</div>