@import "tailwindcss" source("../../");
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@source "assets/";
@source "templates/";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --font-display: 'Inter', sans-serif;
    --text-base: 1.125rem;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

body {
    font-family: 'Inter', sans-serif;
}
