@import "tailwindcss" source("../../");

@source "assets/";
@source "templates/";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --font-display: 'Inter', sans-serif;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}
