{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'About' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 space-y-4 mx-auto">
        <h1>{{ 'About me page!' | trans }}</h1>
    </div>
{% endblock %}
