{% extends 'frontend/base.html.twig' %}

{% block main %}
    <div class="columns-1 sm:columns-2 md:columns-3 gap-4 p-4 space-y-4">
        {% for project in projects %}
            {% if project.mainImage is not null %}
                <img src="{{ vich_uploader_asset(project, 'mainImageFile') }}" alt="{{ project.title }}" class="w-full rounded-lg mb-4" />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
